{% extends 'base.html.twig' %}
{% block title %} {{ article.title }} {% endblock %}
{% block content %}

        <!-- Main -->
        <div id="main">
            <div class="inner">
                <h1>{{ article.title }}</h1>
                <span class="image main"><img src="{{ article.imagePath }}" alt="" /></span>
                <p>{{ article.paragprah }}</p>
                <h2>Author: {{ author.name }} {{ author.lastname }}</h2>
                <h2>
                <a href="/update/{{ article.id }}">Update Article</a>
                </h2>
            </div>
        </div>
{% endblock %}