{% extends 'base.html.twig' %}
{% block title %} Home {% endblock %}
{% block content %}
    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header">
            <div class="inner">

                <!-- Logo -->
                <a href="index.html" class="logo">
                    <span class="symbol"><img src="{{ asset('assets/images/icon.png') }}" alt="" /></span><span class="title">Symfony blog</span>
                </a>

                <!-- Nav -->
                <nav>
                    <ul>
                        <li><a href="#menu">Menu</a></li>
                    </ul>
                </nav>

            </div>
        </header>

        <!-- Menu -->
        <nav id="menu">
            <h2>Menu</h2>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="generic.html">Ipsum veroeros</a></li>
                <li><a href="generic.html">Tempus etiam</a></li>
                <li><a href="generic.html">Consequat dolor</a></li>
                <li><a href="elements.html">Elements</a></li>
            </ul>
        </nav>

        <!-- Main -->
        <div id="main">
            <div class="inner">
                <header>
                    <h1>This is symfony blog website<br />
                        to practise web app development.</h1>
                    <p>All the blogs a fetched from database</p>
                </header>
                <section class="tiles">
                {% for article in articles %}
                    <article class="style{{ random(1, 6) }}">
									<span class="image">
										<img src="{{ article.coverPath }}" alt="" />
									</span>
                        <a href="generic.html">
                            <h2>{{ article.title }}</h2>
                            <div class="content">
                                <p>{{ article.paragprah }}</p>
                            </div>
                        </a>
                    </article>
                {% endfor %}
                </section>
            </div>
        </div>

        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">
                &copy; Grafieldas All rights reserved
            </p>
            <!-- </div> -->
        </footer>

    </div>
{% endblock %}