{% extends 'base.html.twig' %}
{% block title %} Home {% endblock %}
{% block content %}
        <!-- Main -->
        <div id="main">
            <div class="inner">
                <header>
                    <h1>This is symfony blog website<br />
                        to practise web app development.</h1>
                    <p>All the blogs a fetched from database</p>
                    <p style="font-size: 40px"> {{ app.user ?  app.user.username :  ''}}</p>
                </header>
                <section class="tiles">
                {% for article in articles %}
                    <article class="style{{ random(1, 6) }}">
									<span class="image">
										<img src="{{ article.coverPath }}" alt="" />
									</span>
                        <a href="/article/{{ article.id }}">
                            <h2>{{ article.title }}</h2>
                            <div class="content">
                                <p>{{ article.paragprah|slice(0, 300) }}</p>
                            </div>
                        </a>
                    </article>
                {% endfor %}
                </section>
            </div>
        </div>
{% endblock %}